*,*::after,*::before{
  box-sizing: border-box;
}
.modal{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%) scale(0);
  background: white;
  border: 1px solid black;
  border-radius: 10px;
  width: 500px;
  max-width: 80%;
  z-index: 10px;
}
.modal .active{
  transform: translate(-50%,-50%) scale(1);
}
.modal-header{
  display:flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
  border-bottom: 3px solid black;
}
.modal-header{
  font-size: 1.5rem;
  font-weight: bold;
}
.modal-header .close-button{
  cursor: pointer;
  border: none;
  outline: none;
  background-color: none;
  font-size: 1.25rem;
  font-weight: bold;
}
.modal-body{
  padding: 10px 15px;
}
#overlay{
  position: fixed;
  opacity: 0;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0,0,0,0.5);
  pointer-events: none;
}
#overlay .active{
  pointer-events: all;
  opacity: 1;
}